* {
  box-sizing: border-box;
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: whitesmoke;
  background: linear-gradient(to left, #DB162F 0%,#DB162F 50%,#DB162F 50%,#0075F2 50%, #0075F2 100%); /* W3C */

}

main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
  background-color: white;
  width: 200px;
  height: 60px;
  padding: 15px;
  margin: 10px;
  color: black;
}

aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}


.grid {
  box-shadow: 0 0 20px 0 #fe5000;
  height: 100%;
  height: 600px;
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  margin: 25px;
}


.div {
  border: 0px solid rgb(255, 255, 255);
  font-size: 25px;
}


.grid div {
  border: 5px solid lightgrey;
  flex-grow: 1;
  height: 11.1%;
  width: 11.1%;
}

.grid div.X {
  background-image: url("1.png");
  background-size: cover;
}

.grid div.O {
  background-image: url("2.png");
  background-size: cover;
}

.endplay {
  pointer-events: none;
  background-color: #000000;
} 

.mayo {
  pointer-events: none;
  background-color: #0075F2;
} 

.hotsauce {
  pointer-events: none;
  background-color: #DB162F
} 

.hotsauce {
  background-image: url("/test.png");
} 



#scoreboard {
  width: 200px;
  height: 60px;
  padding: 10px;
  text-align: center;
  margin: 10px;
  background-color: white;
  color: #fe5000;
  border-width: 1px;
  border-color: #fe5000;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


