* {
  box-sizing: border-box;
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  flex-grow: 1;
}


main {
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-grow: 1;
  background-color: coral;
}


h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
  width: 200px;
  height: 40px;
  margin: 10px;
  color: black;
}

aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}


.pageborder {
  flex-grow: 1;
}

.grid {
  box-shadow: 0 0 40px 0 #ffffff;
  border-width: 10px;
  height: 100%;
  height: 600px;
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}


.one {

  background-color: #DB162F;  
}

.two {

  background-color:#0075F2;  
}

.three {
  background-color:#DB162F;  
}

.four {
  background-color: #0075f2;
}

.five {
  background-color:#DB162F;  
}

.six {
  background-color: #0075f2;
}

.seven {
  background-color:#DB162F;  
}

.eight {
  background-color: #0075f2;
}

.nine {
  background-color:#DB162F;  
}


.div {
  border: 0px solid rgb(255, 255, 255);
  font-size: 25px;
}


.grid div {
  flex-grow: 1;
  border: 0.5px solid rgb(255, 255, 255);
  height: 11.1%;
  width: 11.1%;
}

.grid div.X {
  background-image: url("1.png");
  background-size: cover;
}

.grid div.O {
  background-image: url("2.png");
  background-size: cover;
}

.endplay {
  pointer-events: none;
  background-color: #000000;
} 

.mayo {
  pointer-events: none;
  background-color: #0075F2;
} 

.hotsauce {
  pointer-events: none;
  background-color: #DB162F
} 


#scoreboardmayo {
  width: 200px;
  height: 40px;
  padding: 10px;
  text-align: center;
  margin: 10px;
  background-color: #000000;
}

#scoreboardsauce {
  width: 200px;
  height: 40px;
  padding: 10px;
  text-align: center;
  margin: 10px;
  color: #000000;
  border-width: 1px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


